
<section id="header">
    <a href="/"><img src="/Users/admin/Desktop/farzana/Projects/project1/project1/image/500-5001688_logo-bisnis-online-shop-png-download-online-shopping.png" alt="logo" class="logo"></a>
</section>
<div>
  <ul id="navbar">
    <li><a href="/">Home</a></li>
    <li><a href="/categories">Shop</a></li>
    <li><a href="/">About</a></li>
    <li><a href="/">Contact</a></li>
</ul>
 
</div>

<p><%= @current_user.email if @current_user.present? %></p>

