<div class="container">
<div class="box">
<section id="hero">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>
    <h1>On all Products</h1>
    <p>save more with coupons $ up to 70% off!</p>
</section>
</div></div>





