*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.thumb{
    height: 12em;
}
.feature{
    max-height: 30em;
}
.container{
    max-width: 960px;
    margin: 0 auto;
} 

  body{
    width: 100%;
   }
  .center{
    width: 350px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color:black;
   
    
  }
 .center h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 46px 0;
    margin-top: 370px;
    }
.center txt_field{
    font-size: 20px;
    margin: 20px 50;
} 
.center input{
    font-size: 30px;
    width: 100%;
    padding: 15px 10px;
    border-radius: 10px;
}
.center button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border-radius: 5px;
}
.user-new{
    width: 350px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color:black;
    
  }
  .user-new h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 46px 0;
    margin-top: 370px;
    }
.user-new input-field{
    font-size: 20px;
    margin: 20px 50;
} 
.user-new input{
    font-size: 30px;
    width: 100%;
    padding: 15px 10px;
    border-radius: 10px;
}
.user-new button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border-radius: 5px;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}